<app-navbar></app-navbar>

<div class="container">
  <div class="mt-5"></div>

  <div class="card bg-light mb-3">
    <div class="card-header">Add Contact</div>
    <div class="card-body">
      <form (submit)="addContact()" method="post">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" [(ngModel)]="first_name" name="first_name" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" [(ngModel)]="last_name" name="last_name" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" [(ngModel)]="phone" name="phone" class="form-control" required />
        </div>
        <div class="row form-group pt-3 border-top">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-block">SAVE</button>
          </div>
          <div class="col">
            <button type="reset" class="btn btn-secondary btn-block">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-header">Contacts</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>{{contact.first_name}}</td>
            <td>{{contact.last_name}}</td>
            <td>{{contact.phone}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-danger" (click)="deleteContact(contact._id)">Delete</button>
            </td>
          </tr>
          <tr *ngIf="!contacts?.length">
            <td colspan="4" class="text-center">No contacts available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
