<app-navbar></app-navbar>

<div class="container">
  <div class="mt-5"></div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card bg-light">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form (submit)="onRegister()" method="post">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" placeholder="Enter first name" [(ngModel)]="first_name" name="first_name" required />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter last name" [(ngModel)]="last_name" name="last_name" required />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" name="email" required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="password" name="password" required />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
