<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">MEAN APP</a>
    <button class="navbar-toggler collapsed" type="button" (click)="toggleMobileMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isMenuShow }">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
          <a class="nav-link" routerLink="/contacts">Contacts</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item dropdown hidden-md-down" [ngClass]="{ 'show': isDropdownShow }" *ngIf="isLogged">
          <a class="nav-link dropdown-toggle" (click)="toggleDropdownMenu()">{{userData.first_name}}</a>
          <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ 'show': isDropdownShow }">
            <a class="dropdown-item" routerLink="/status">Status</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
