<app-navbar></app-navbar>

<div class="container">
  <div class="mt-5"></div>
  <div class="row">
    <div class="col-md-4">
      <h1>User Status</h1>
      <hr><br>
      <p>Logged In? {{isLogged}}</p>
      <p>First Name: {{userData.first_name}}</p>
      <p>Lat Name: {{userData.last_name}}</p>
      <p>Email: {{userData.email}}</p>
    </div>
  </div>
</div>
