<app-navbar></app-navbar>

<div class="container">
  <div class="mt-5"></div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form (submit)="onLogin()" method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" name="email" required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="password" name="password" required />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
      <div class="card bg-light mb-5">
        <div class="card-body">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
        </div>
      </div>
    </div>
  </div>
</div>
