@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Nunito:200,300,400,600,700,800,900');

body{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
}

h1{
  font-family: 'Abril Fatface', cursive;
}

a{
  cursor: pointer;
}
